.accordion-item {
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
  }
   
  .accordion-item .card,
  .accordion-item .card:last-child .card-header {
    border: none;
  }
   
  .accordion-item .card-header {
    border-bottom-color: #EDEFF0;
    background: transparent;
  }
   
  .accordion-item .fa-stack {
    font-size: 18px;
  }
   
  .accordion-item .btn {
    width: 100%;
    font-weight: bold;
    color: #004987;
    padding: 0;
  }
   
  .accordion-item .btn-link:hover,
  .accordion-item .btn-link:focus {
    text-decoration: none;
  }
   
  .accordion-item li + li {
    margin-top: 10px;
  }